<section class="row col-md-12 new_rating" >
    <div class="span4 well">
      <%= form_for DonutRating.new, :url => donut_donut_ratings_path(@donut),  :html => {:class => "form-horizontal center"}  do |f| %>
        <h3 class ="col-md-10">Rate This Donut</h3>
        <div class="form-group">
          <%= f.label :score, class:"control-label col-sm-4" %>
          <div class="col-sm-6 radio">
            <%= f.collection_radio_buttons(:score, [[1, '1. Didnt finish it'], [2, '2. Finished it but wont eat it again'], [3, '3. It fills the hunger'], [4, '4. is a lovely number'], [5, '5 is a yes']],  :first, :last, :item_wrapper_class => 'btn btn-primary', :default => true) do |b| %>
              <% b.label { b.radio_button + b.text } %>
            <% end %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :occasion, class:"control-label col-sm-4" %>
          <div class="col-sm-6">
            <%= f.text_field :occasion, spellcheck:"true" %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :description, class:"control-label col-sm-4" %>
          <div class="col-sm-6">
            <%= f.text_area :description, spellcheck:"true" %>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-4 col-sm-10">
            <%= f.submit "Rate a Donut", class:"btn btn-default" %>
          </div>
        </div>  
      <% end %>
    </div>
</section>  


