
<div class="new_donut">
  <%= form_for Donut.new do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %></br>
    <%= f.label :type_of_donut %></br>
    <%= f.radio_button :type_of_donut, 'Yeast', :checked => false %> Yeast 
    <%= f.radio_button :type_of_donut, 'Old Fashion/Cake', :checked => false %> Old Fashion/Cake 
    <%= f.radio_button :type_of_donut, 'Speciality', :checked => false %> Speciality
    <%= f.radio_button :type_of_donut, 'Glutton Free', :checked => false %> Glutton Free </br>
    <%= f.label :occassion %></br>
    <%= f.radio_button :occassion , 'Splurge', :checked => false %> Splurge 
    <%= f.radio_button :occassion , 'Value', :checked => false %> Value
    <%= f.radio_button :occassion , 'Geographic Desirability', :checked => false %> Geographic Desirability </br>
    <%= f.label :description %></br>
    <%= f.text_area :description, spellcheck:"true" %></br>
    <%= collection_select(:donut, :donut_shop_id, DonutShop.all, :id, :name) %></br>

    <%= submit_tag "Create a Donut" %>
  <% end %>
</div>  