<section class="col-xs-12 col-md-12 donut_show ">
  <h2 class="title">Each donut is different each day. </h2>
  <p>Name: <%= @donut.name %></p>
  <p><%= image_tag(@donut.picture_url(:thumb)) unless @donut.picture_url(:thumb).blank? %></p>
  <p>Description: <%= @donut.description %></p>
  <p>Donut Shop: <%= @donut.donut_shop.name %> </p>
  </section> 
<section class="col-xs-12 center-block donut_show">
  <% if @ratings != nil %>
    <% @ratings.each do |r| %>
      <div class="center-block rating">
        <%= r.score %></br>
        <%= r.description %>
         - <%= User.find(r.user_id).first_name %>
      </div>
    <% end %>
  <% end %>
 </section> 

<section class="col-xs-12 .col-md-8">
  <%= render "donut_ratings/new" %>
</section>
