<h2>Each donut is different each day. </h2>
<section class="donut">
  <p>Name: <%= @donut.name %></p>
  <p>Description: <%= @donut.description %></p>
  <p>Donut Shop: <%= @donut_shop.name %> </p>
</section>
<section class="ratings">
  <% @ratings.each do |r| %>
    <div>
      <%= r.score %></br>
      <%= r.description %>
    </div>
  <% end %>
 </section> 
<%= render "donut_ratings/new" %>
