<nav>
  <img src="../hamburger.svg" id="hamburger">
  <h1>Chicago Donut Club</h1>

  <ul class="menu">
    <li > <%= link_to "Home", root_path %></li>
    <li> <%= link_to "Donuts", donuts_path %></li>
    <li> <%= link_to "Donut Shops", donut_shops_path %></li>
    <% if logged_in == true %>
      <li> <%= link_to "Logout", session_path %></li>
    <% else %>
      <li> <%= link_to "Login", new_session_path %></li>
      <li> <%= link_to "Register", new_user_path %></li>
    <% end %>
  </ul>
</nav>

