<script src="https://maps.googleapis.com/maps/api/js?key=ENV['API_KEY']&callback=initMap"></script>

<%@shops.each do |shop| %>
  <section class="donut_shop">
    <p>Name: <%= link_to shop.name, donut_shop_path(shop) %> </p>
    <p>Description: <%= shop.description %></p>
    <p id = 'address'>Address: <%= shop.address %></p>
    <p>Website: <%= shop.website%></p>
  </section>
<% end%>

<%= render "donut_shops/map" %>

<%= render "donut_shops/new" %>
