
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAfu-_rEh0nc0i2DIGlt3KLkmoNRVo_7sw
&signed_in=true&callback=initMap"
    async defer></script>       
<section class="donut_shop col-lg-12 col-centered">
  <h2>A Donut Shop </h2>
  <p><%= @shop.name%></p>
  <p><%= @shop.description %></p>
  <p id ="address"><%= @shop.address%></p> 
  <p><%=  @shop.website %></p>
  <% if @donuts != nil %>
    <p>It has these donuts</p>
    <%  @donuts.each do |donut| %>
      <p>Name: <%= donut.name %></p>
      <p>Description: <%= donut.description %></p>
      <p>Donut Shop: <%= donut_shop.name %> </p>
      <% end %>
    <% end %>
    <div id= "map">
    </div>
</section>
<section> 
  <%= render "donuts/new" %>
</section>
