       
<section class="donut_shop col-lg-12 col-centered donut">
  <h2>A Donut Shop </h2>
  <p><%= @shop.name%></p>
  <p><%= @shop.description %></p>
  <p id ="address"><%= @shop.address%></p> 
  <p><%=  @shop.website %></p>
   <% if @shop.donuts != nil %>
    <p>It has these donuts: </p>
    <%@shop.donuts.each do |donut| %>
      <p>Name: <%= donut.name %></p>
      <p>Description: <%= donut.description %></p>
    <% end %>
  <% end %>
</section>
<div id= "map">
</div>
<section> 
  <%= render "donuts/new" %>
</section>
