<script async defer
      src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['API_KEY']%>&callback=initMap">
</script>
<div class="row">       
  <section class="col-md-8 col-md-offset-2 donut_shop_show">
    <h2>A Donut Shop </h2>
    <p><%= @shop.name%></p>
    <p><%= @shop.description %></p>
    <p id ="address"><%= @shop.address%></p> 
    <p><%=  @shop.website %></p>
     <% if @shop.donuts != nil %>
      <p>It has these donuts: </p>
      <%@shop.donuts.each do |donut| %>
        <p>Name: <%= donut.name %></p>
        <p>Description: <%= donut.description %></p>
      <% end %>
    <% end %>
  </section>
</div> 
<div class="row">  
  <div class="col-md-4 col-md-offset-4 donut_shop_show" id= "map"></div>
</div> 
<section class="col-md-8 col-md-offset-2 donut_shop_show"> 
  <%= render "donuts/new" %>
</section>
